<div class="relative">
  <button
    #button
    class="relative p-4 rounded-full bg-red-500 text-white hover:bg-red-600 transition-colors"
    (click)="onClick()"
  >
    <!-- Bell Icon -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
      <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
    </svg>

    <span
      #badge
      class="absolute top-2 right-2 w-3 h-3 bg-white rounded-full"
    ></span>
  </button>

  <div
    #ripple
    class="absolute inset-0 rounded-full bg-red-500 -z-10"
  ></div>
</div>
